.profile-container {
  max-width: 400px;
  margin: 25px auto;
  padding: 20px;
  text-align: center;
  BACKGROUND-COLOR: aliceblue;
  }
  
  .profile-image-container {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .add-image-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
  }
  
  h1 {
    font-size: 24px;
    margin: 20px 0;
  }
  
  .input-container {
    margin: 10px 0;
    text-align: left;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .save-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .input-container input[type="file"] {
    display: none;
  }
  
  .image-upload-label {
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  
  .image-upload-input {
    display: none;
  }
  
  .image-upload-label .add-image-button:hover {
    background-color: #aaa;
  }
  