.Contact-container {
  display: flex;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Hide overflow */
}

.Contact-video {
  flex: 1; /* Half of the screen width */
  display: flex;
  justify-content: center;
  align-items: center;
  background: none; /* Remove the black background */
}

.video {
  height: 100vh; /* Half of the viewport height */
  width: 100%; /* Full width */
  object-fit: cover;
}

.Contact-content {
  flex: 1; /* Half of the screen width */
  background: #cae4ec; /* Background color for the content */
  color: #000; /* Text color */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Contact-content h1 {
  font-size: 28px;
}

.Contact-content p {
  font-size: 16px;
  line-height: 1.5;
}
