.category{
    flex: 1;
    margin: 0 30px;
    font-size: 15px;
}

/* Dropdown container */
.dropdown-container {
  position: relative;
  display: inline-block;
}

/* Dropdown header */
.dropdown-header {
  cursor: pointer;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
    box-shadow: 1px 1px 5px black;
}

/* Dropdown list */
.dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  
}

/* Dropdown list items */
.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

/* Hover effect for dropdown items */
.dropdown-item:hover {
  background-color: #f1f1f1;
}
.box{
  margin-left: 100px;
  margin-right: 100px;
}

.custom-category-input {
  display: flex;
}

.input-container {
  flex: 1;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text1"] {
    flex: auto;
    padding: 3px;
    font-size: 13px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    margin-right: -37px;
}

button.custom-category-add-button {
  background-color: #425df4;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 12px;
}
.DraftPublishButton{
  margin-left: auto;
}
.ButtonStyle{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}